.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-control-myplaceholder {
  position: absolute;
  top: 0;
  margin: 10px 0px 0px 15px;
  transition: all 200ms;  
  color: #626262;
  font-family: 'poppinsmedium';	
}

.form-control:focus + .form-control-myplaceholder,
.form-control:valid + .form-control-myplaceholder {
  font-size: 14px;
      margin-top: -3%;
  background: white;
  padding-left: 5px;
  padding-right: 5px;
    margin-left: 3%;
  font-family: 'poppinsmedium';
    font-weight: 400;
}
/* .form-control:focus{ */
/* 	border-bottom: 1px solid #696ce4 !important; */
/* } */
/* .form-control:focus+form-control:valid{ */
/* 	border-bottom: 1px solid #696ce4 !important; */
/* } */
/* .form-control:valid{ */
/* 	border-bottom: 1px solid #626262; */
/* } */
